{% extends 'intempo/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Albums
{% endblock %}

{% block body_block %}
{% load crispy_forms_tags %}
  <h1>All Albums</h1><br>

  <ul>
	Current Tags: {% for tag in tags %} {{tag}} | {% endfor %}<br>
	<form id="form" method="GET" action="{% url 'intempo:albums' %}" class = "bootstrap4">
			     {{ form | crispy}}
			<input type="submit" name="submit" value="Submit" />
	</form>
    <a href="add_album"> Add Album +</a><br>

  </ul>
		{% if Albums %}
			<ul>
				 <div>
					{% for album in Albums%}
						<div style="float:left; width:400px; height:400px; padding: 50px;">
						<a href="{% url 'intempo:album_page' album.id %}">
						<img src="{{ MEDIA_URL }}{{ album.album_cover }}" class="img-thumbnail" alt="{{album.name}}">
						<p>{{album.name}}<br><a/>
						{{album.creation_date}}<br>
						{{album.artist}}<br>
						average rating: {{album.avg_rating}}
						</p>
						</div>
					{% endfor%}
						</div>
			</ul>
		{% else %}
				<strong>No Albums Found</strong>
		{% endif %}
{% endblock %}
