{% extends 'intempo/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Albums
{% endblock %}

{% block body_block %}
{% load crispy_forms_tags %}
    <div>
        <h1>Albums</h1>
        <form id="filter-by-tags-form">
            {% csrf_token %}
            <div class="row">
                {{ tags_form|crispy }}
                <div>
                  <div class="float-start">
                    <button type="submit" class="btn btn-primary float-end disabled" id="clear-button">Clear</button>
                  </div>
                  <div class="float-end">
                    <button type="submit" class="btn btn-primary float-end" id="filter-button">Filter</button>
                  </div>
                </div>
            </div>
        </form>    
        <div class="row">
            <span>Sort by:</span>
            <div class="btn-group" role="group" aria-label="Sort Albums">
                <button type="button" id="avg_rating_btn" class="btn col btn-primary active set-album-sorting" onclick="setAlbumSortType('avg_rating')">Rating</button>
                <button type="button" class="btn col btn-primary set-album-sorting" onclick="setAlbumSortType('name')">Name</button>
                <button type="button" class="btn col btn-primary set-album-sorting" onclick="setAlbumSortType('artist')">Artist</button>
            </div>    
        </div>
        <div class="row">
            <h2 id="number-of-albums" class="col-12">
                {% if albums|length == 0 %}  
                    No albums found
                {% elif albums|length == 1%}
                    1 Album
                {% else %}
                    {{ albums|length }} Albums
                {% endif %}
            </h2>
            {% if user.is_anonymous == False %}
              <p id="add-album" class="col-12">
                {% if albums|length == 0 %}
                  Be the first to add an album!
                {% endif %}
                <a data-bs-toggle="modal" data-bs-target="#addAlbumModal" class="triggers-modal">Add an album</a>
              </p>
            {% endif %}
        </div>
        <div class="row" id="albums">
            {% for album in albums%}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <a href="{% url 'intempo:album_page' album.id %}">
                        <img src="{{ MEDIA_URL }}{{ album.album_cover }}" class="img-thumbnail" alt="{{album.name}}">
                    </a>
                    <p>
                        <a href="{% url 'intempo:album_page' album.id %}"><strong>{{ album.name }}</strong></a><br>
                        {{album.time_of_creation}}
                        <span class="rating rounded-circle border border-secondary float-end">{{ album.avg_rating }}</span><br>
                        {{album.artist}}<br>
                    </p>
                </div>
            {% endfor%}
        </div>    
    </div>

    {% if user.is_anonymous == False %}
      <div class="modal fade" tabindex="-1" id="addAlbumModal" aria-labelledby="addAlbumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add an album</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="add-album-form">
              <div class="modal-body">
                {% csrf_token %}
                {{ add_album_form|crispy }}
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add album</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
{% endblock %}
