{% extends 'intempo/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title_block %}
  {{ album.name }}
{% endblock %}

{% block body_block %}
  <div class="row" id="album-description">
    <div class="col-lg-9 col-md-8 col-sm-12">
      <h1 class="col">
        <span>{{ album.name }}</span>
        <span class="rating rounded-circle border border-secondary float-end" id="album-rating">{{ album.avg_rating }}</span>
      </h1>
      <h3 class="col">
        {% for tag in album.tags_as_list %}
          <span class="badge bg-primary">{{ tag }}</span>
        {% endfor %}
      </h3>
      <div class="col">
        <p>{{ album.description }}</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <img class="img-thumbnail" src="{{ MEDIA_URL }}{{ album.album_cover }}" alt="Album Cover">
    </div>
  </div>
  
  <div>
    <div class="row">
      <h2 id="number-of-reviews" class="col-12">
        {% if reviews|length == 1%}
          1 Review With Comment
        {% else %}
          {{ reviews|length }} Reviews With Comment
        {% endif %}
      </h2>
      {% if rated == False %}
        <p id="add-review" class="col-12">
          {% if reviews|length == 0 %}
            Be the first to review this album!
          {% else %}
            You haven't reviewed this album. 
          {% endif %}
          <a data-bs-toggle="modal" data-bs-target="#addReviewModal" class="triggers-modal">Add a review</a>
        </p>
      {% endif %}
    </div>
    
    <div id="reviews">
      {% for review in reviews %}
        <div class="card" id="review-{{ review.id }}">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5><a href="{% url 'intempo:profile' review.user.username %}" class="card-title">{{ review.user.username }}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ review.time_since_posted }}</h6>
              </div>
              <div class="col-auto">
                <h4><span class="rating rounded-circle border border-secondary float-end">{{ review.rating }}</span></h4>
              </div>
            </div>
            <div onclick="setReviewId({{ review.id }})">
              <p class="card-text">{{ review.review_text }}</p>
              <a data-bs-toggle="modal" data-bs-target="#comments{{ review.id }}Modal" class="card-link triggers-modal comments-count
              {% if review.comments|length == 0%} 
                no-comment 
              {% endif %}">
                {% if review.comments|length == 1 %} 
                  1 Comment
                {% else %}
                {{ review.comments|length }} Comments
                {% endif %}
              </a>
              {% if user.is_anonymous == False %}
                <a data-bs-toggle="modal" data-bs-target="#addCommentModal" class="card-link triggers-modal">Add a Comment</a>
              {% endif %}
            </div>
          </div>
        </div>      
      {% endfor %}
    </div>
  </div>

  <div id="modals">
    {% if rated == False %}
      <div class="modal fade" tabindex="-1" id="addReviewModal"aria-labelledby="addReviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add a review</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="add-review-form">
              <div class="modal-body">
                {% csrf_token %}
                {{ add_review|crispy }}
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add review</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endif %}

    {% if user.is_anonymous == False %}
      <div class="modal fade" tabindex="-1" id="addCommentModal" aria-labelledby="addCommentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add a comment</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="add-comment-form">
              <div class="modal-body">
                {% csrf_token %}
                {{ add_comment |crispy }}
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add comment</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endif %}

    {% for review in reviews %}  
      <div class="modal fade comments-modal" tabindex="-1" id="comments{{ review.id }}Modal" aria-labelledby="comments{{ review.id }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Comments to the review by {{ review.user.username }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="comments">
                {% for comment in review.comments %}
                  <div class="card">
                    <div class="card-body">
                      <h5><a href="{% url 'intempo:profile' comment.user.username %}" class="card-title">{{ comment.user.username }}</a></h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{ comment.time_since_posted }}</h6>
                      <p class="card-text">{{ comment.comment_text }}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
