<!DOCTYPE html>
{% load staticfiles %}

<!-- put template tag load line here -->

<html>

  <head lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Intempo -
      {% block title_block %}
        Page Name
      {% endblock %}
    </title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% with user=request.user %}{% endwith %}
  </head>

  <body>

    <div id="nav">
      <img src="{% static 'images/intempo-logo.png' %}" alt="Intempo logo" />

      <nav>
        <ul>
          <li><a href="{% url 'intempo:home' %}">Home</a></li>
          <li><a href="{% url 'intempo:albums' %}">Albums</a></li>
          {% if user.is_authenticated == False %}
            <li><a href="{% url 'intempo:login' %}">Login</a></li>
            <li><a href="{% url 'intempo:signup' %}">Sign Up</a></li>
          {% else %}
            <li><a href="{% url 'intempo:profile' user.username %}">Profile</a></li>
            <li><a href="{% url 'intempo:logout' %}?next={% url 'intempo:home' %}">Logout</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>


    <div class="container">
      {% block body_block %}
      {% endblock %}
    </div>
  </body>

  <script src="{% static 'main.js' %}"></script>
</html>
