<!DOCTYPE html>
{% load staticfiles %}
<!-- put template tag load line here -->

<html>

  <head lang="en">
    <meta charset="UTF-8" />
    <title>
      Intempo -
      {% block title_block %}
        Page Name
      {% endblock %}
    </title>
  </head>

  <body>
    <div id="nav">
      <img src="{% static 'images/intempo-logo.png' %}" alt="Intempo logo" />

      <nav>
        <ul>
          <li><a href="{% url 'intempo:home' %}">Home</a></li>
          <li><a href="{% url 'intempo:albums' %}">Albums</a></li>
          <li><a href="{% url 'intempo:profile' %}">Profile</a></li>
          <li><a href="{% url 'intempo:login' %}">Login/Sign Up</a></li>
        </ul>
      </nav>
    </div>


    <div>
      {% block body_block %}
      {% endblock %}
    </div>
  </body>

</html>
