{% extends 'intempo/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Home
{% endblock %}

{% block body_block %}
  <a href="{% url 'intempo:not_found' %}">temporary link to 404 page</a><br>
  <a href="{% url 'intempo:add_album' %}">temporary link to add_album page</a>
  <div id="trending">
    Check out what everyone is listening to right now.<br>
    SLIDESHOWS<br>
  </div>

  <div id="top_rated">
    Certified classics and GOATs -- according to our members.<br>
    ALBUMS<br>
  </div>
{% endblock %}
