{% extends 'intempo/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title_block %}
  Log In
{% endblock %}

{% block body_block %}
  {% block form_area_block %}
    <div class="content-section">
    <form id="login_form" method="POST" action="{% url 'intempo:login' %}">
      {% csrf_token %}
      <fieldset class="form-group col-3">
        <legend class="border-bottom mb-4 col-3">Login</legend>
        {{ form|crispy }}
      </fieldset>
      <br>
      <div class="form-group">
        <button class="btn btn-outline-info col-3" type="submit">Login</button>
      </div>
    </form>
    <div>
      <small class="text-muted">
        Don't Have An Account? <a class="ml-2" href="{% url 'intempo:signup' %}">Sign Up</a>
      </small>
    </div>
  </div>
  {% endblock %}

  <br>
  <img src="{% static 'images/login-signup.png' %}" alt="Collage of albums." />
{% endblock %}
