{% extends 'intempo/login.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title_block %}
  Sign Up
{% endblock %}

{% block form_area_block %}
	<div class="content-section">
		<form id="signup_form" method="POST" action="{% url 'intempo:signup' %}" enctype="multipart/form-data">
			{% csrf_token %}
			<h1>Sign Up</h1>
			<fieldset class="form-group">
				{{ user_form|crispy }}
				{{ profile_form|crispy }}
			</fieldset>
			<div class="button">
				<button class="btn btn-primary" type="submit">Sign Up</button>
			</div>
		</form>
		<div>
			<small class="text-muted">
				Already Have An Account? <a class="ml-2" href="{% url 'intempo:login' %}">Login</a>
			</small>
		</div>
	</div>
{% endblock %}
