{% extends 'intempo/login.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title_block %}
  Sign Up
{% endblock %}

{% block form_area_block %}
	<div class="content-section">
		<form id="user_form" method="POST" action="{% url 'intempo:signup' %}" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4 col-3">Sign Up</legend>
				{% for field in user_form %}
					<div class="col-3">
						{{ field|as_crispy_field }}
					</div>
					<br>
				{% endfor %}
				{% for field in profile_form %}
					{{ field|as_crispy_field }}
					<br>
				{% endfor %}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info col-3" type="submit">Sign Up</button>
			</div>
		</form>
		<div>
			<small class="text-muted">
				Already Have An Account? <a class="ml-2" href="{% url 'intempo:login' %}">Login</a>
			</small>
		</div>
	</div>
{% endblock %}
