{% extends 'intempo/login.html' %}
{% load staticfiles %}

{% block title_block %}
  Sign Up
{% endblock %}

{% block form_area_block %}
  <div>
    <h1>Sign Up</h1><br>

		{% if registered %}
			Thanks for registering<br>
			<a href="{% url 'intempo:home' %}">Return to homepage</a>

		{% else %}
	    <form id="user_form" method="post" action="{% url 'intempo:signup' %}" enctype="multipart/form-data">
	      {% csrf_token %}

			  {{ user_form.as_p }}
		    {{ profile_form.as_p }}

	      <input type="submit" name="submit" value="Sign Up">
	    </form>
	  </div>
	{% endif %}
{% endblock %}
