body {
    font-family: Roboto;
    background-color: rgb(0, 0, 56);
    color: white;
}

a {
    text-decoration: none;
}

#album-cover {
    max-width: 10em; 
}

.card {
    margin-bottom: 20px;
}

.modal, .card {
    color: black;
}

.triggers-modal {
    cursor: pointer;
}

span.rating {
    padding: .5rem;
}