body {
    font-family: Roboto;
    background-color: rgb(0, 0, 50);
    color: white;
}

.card {
    margin-bottom: 20px;
}

.modal, .card {
    color: black;
}

a {
    text-decoration: none;
}

.triggers-modal {
    cursor: pointer;
    color: #007bff !important;
}

/* navbar */
nav {
    background-color: rgb(0, 0, 25);
}

#body-content {
    margin-top: 4em;
}

#intempo-logo {
    display: contents;
}

/* toast */
.message {
    position: fixed;
    left: 0;
    right: 0;
    border-radius: 10px;
    color: black;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 30%;
    opacity: 0.9;
    background-color: #00F2FF;
}

/* albums */
#albums span, #hint_id_album_cover {
    display: block;
}

/* album page */
#album-description {
    margin-bottom: 20px;
}

#album-cover {
    max-width: 10em;
}

.card-link.no-comment.comments-count+.card-link{
    margin-left: 0;
}

span.rating {
    padding: .5rem;
}

span#album-rating {
    float: right;
}

.no-comment.comments-count {
    display: none;
}

/* profile */
#profile-picture {
    height: 100px;
}

.similar-profile {
    height: 50px;
}

#collection div {
    margin-bottom: 20px;
}

/* login and signup */
#login_form  .form-group, #signup_form .form-group{
    margin-bottom: 15px;
}

#login_form .button, #signup_form .button{
    margin-top: -10px;
}
