.message {
  position: fixed;
  left: 0;
  right: 0;
  border-radius: 10px;
  color: white;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: 30%;
  opacity: 0.9;
    }
    
.message.success {
  background-color: #00F2FF;
    }